@media screen and (max-width: 1920px) {
    div.contentblock {
        max-width: 1920px;
    }
}

/* html {
    height: 1080px;
    width: 1920px;
} */

* {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    font-family: 'Montserrat';
    font-size: 50px;
    color: #CFE5CF;
    line-height: normal;
}

.page {
    max-width: 1920px;
    margin: 0 auto;
    background-color: black;
    background-image: url(./img/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header {
    position: absolute;
    max-width: 100%;
    height: 100px;
    backdrop-filter: blur(35px);;
    top: 0;
    left: 0;
    right: 0;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .header__inner_brand {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.logo {
    position: absolute;
    display: flex;
    background-color: white;
    border-radius: 50%;
    font-size: 7px;
}

.brand_title {
    position: absolute;
    display: flex;
    font-size: 20px;
    flex-direction: row;
} */

main {
    max-width: 1920px;
    height: 1080px;
}